<div class="list-group">
  <%= link_to contacts_path, class: "list-group-item" do %>
    All Contact <span class="badge badge-light float-right"><%= Contact.count %></span>
  <% end %>

  <% Group.all.each do |group| %>
    <%= link_to contacts_path(group_id: group.id), class: "list-group-item" do %>
      <%= group.name %> <span class="badge badge-light float-right"><%= group.contacts.count %></span>
    <% end %>
  <% end %>

</div>
